.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border: 0.1em solid #f2efee;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#f2efee;
  text-align:center;
  transition: all 0.2s;
}
.button:hover{
  color:#000000;
  background-color:#f2efee;
}

@media all and (max-width:30em){
  .button {
    display: block;
    margin: 0.4em auto;
  }
}