.containerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  display:inline-block;
  padding:0.35em 1.2em;
  border: 0.1em solid #f2efee;
  background-color: lightseagreen;
  margin:0 0.3em 0.3em 0;
  border-radius:0.4em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:300;
  color: whitesmoke;
  text-align:center;
  transition: all 0.2s;
}
button:hover{
  color:lightseagreen;
  background-color: black;
}

@media all and (max-width:30em){
  button {
    display: block;
    margin: 0.4em auto;
  }
}